@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  box-sizing: border-box;
}

p span {
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  background: #121315;
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333;
  border-radius: 10px;
  padding: 10px;
}
